{% extends "base.html" %}

{% block title %}Operators - R6 Siege Fan App{% endblock %}

{% block content %}
    <h1>Rainbow Six Siege Operators</h1>

    <div class="operator-filter">
        <button id="show-attack">Show Attackers</button>
        <button id="show-defense">Show Defenders</button>
    </div>

    <div class="search-results-info" style="display: none;">
        {# This div can be used to show search results count or message #}
        <p><span id="search-count"></span> operators found.</p>
    </div>


    {# --- ATTACKERS SECTION --- #}
    <div id="attack-operators" class="operator-list">
        <h2>Attackers</h2>
        {% for operator in attackers %}
            <div class="operator-item" data-operator-name="{{ operator.name }}">
                {# Link to the operator detail page - CORRECTED LINK BELOW #}
                <a href="{{ url_for('main.operator_detail', operator_name_slug=operator.name.replace(' ', '-').lower()) }}"> {# CHANGED TO main.operator_detail #}
                    {# Placeholder for operator icon/image #}
                    {# <img src="{{ url_for('static', filename='images/operators/icons/' + operator.name.replace(' ', '-').lower() + '.png') }}" alt="{{ operator.name }} Icon" class="operator-icon"> #}
                    <h3>{{ operator.name }}</h3>
                    {# REMOVED: Armor, Speed, Role, Ability from list view #}
                </a>
            </div>
        {% else %}
            <p>No attackers found.</p>
        {% endfor %}
    </div>

    {# --- DEFENDERS SECTION --- #}
    <div id="defense-operators" class="operator-list">
        <h2>Defenders</h2>
        {% for operator in defenders %}
            <div class="operator-item" data-operator-name="{{ operator.name }}">
                 {# Link to the operator detail page - CORRECTED LINK BELOW #}
                <a href="{{ url_for('main.operator_detail', operator_name_slug=operator.name.replace(' ', '-').lower()) }}"> {# CHANGED TO main.operator_detail #}
                    {# Placeholder for operator icon/image #}
                    {# <img src="{{ url_for('static', filename='images/operators/icons/' + operator.name.replace(' ', '-').lower() + '.png') }}" alt="{{ operator.name }} Icon" class="operator-icon"> #}
                    <h3>{{ operator.name }}</h3>
                    {# REMOVED: Armor, Speed, Role, Ability from list view #}
                </a>
            </div>
        {% else %}
            <p>No defenders found.</p>
        {% endfor %}
    </div>

{% endblock %}
